.blog-header {
    background-color: #EBF1F8;
    h4 {
        color: #28A79E;
        font-size: 48px;
        font-weight: bold;
        text-align: center;
    }
}

.blog-description {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #525252;
}

.auther p {
    color: #B0B0B0;
    font-size: 12px;
    margin-bottom: 0;
}

.blogdate {
    font-size: 10px;
    color: #525252;
}

.blog-type-list a {
    background-color: #F7F7F7;
    margin: 5px;
    border-radius: 8px;
    font-size: 16px;
    color: #7C7C7C;
    font-weight: 400;
}

.recent-post {
    border-radius: 8px;
}

.borderdiv {
    border-left: 5px solid #089F81;
}